.comment_sec{
    width: 100%;
   padding: 0px 0px 0px 15px;

}
/* .com_picture{
    border-radius: 10px;
    
} */
.com_picture div{
    margin:10px 0px 10px 0px;
    
}
.collection-item{
background: white;
border-radius: 15px;
}
.collection{
    border:none
}
.collection-item img{
    width: 40px !important;
    height: 40px !important;
}
#editdelete>i{
    font-size: 19px;
    color: gray;
    margin: 3px;
    cursor: pointer;
}
#editdelete>i:hover{
    color: #2e8fa5
}
#editdelete>i[title=Cancel]{
   
    color: #2e8fa5;
  
}
.org img{
    width: 43px !important;
    height: 43px !important;   
}
.org li{
    border: 1px solid #2e8fa5 !important
}
.comment{
font-weight: 560;
margin-top:10px;
margin-bottom: 10px;
}

.input_add{
background: white;
border-radius: 10px;
margin-top: 10px;
margin-bottom: 10px;

}
.input_add img{
    width: 40px !important;
    height: 40px !important;
}
.input_add textarea{
    border: 1px solid #e6e4e4;
    border-radius: 10px ;
    margin: 0px;
    background: rgb(238, 237, 237);
   line-height: 16px !important;
   padding-left: 4px;
}
.input_add i{
    color :gray
}
.input_add textarea:focus{
    border: 1px solid #2e8fa5 !important;
    box-shadow: none !important;
}
#textarea_edit:focus{
    border-bottom: 1px solid #2e8fa5 !important;
    box-shadow: none !important;
}
.com_picture>.material-placeholder{
    height: fit-content !important;
}
.drop_emoji{
    width: 367px !important;
    height: 364px !important;
    border-radius: 0;
    /* transform: translateY(-100px); */
    border: none;
    outline: none;
   
    
}
.drop_emoji li{
    width: fit-content !important;
    min-height: min-content !important;
}
.emoj_display{
    display: block;
}

.emoj_display_hide{
    display: none;
}
nav{
    height: 45px !important;
    background-color: white !important;
    box-shadow:none !important
}
.emoji-mart {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    display: inline-block !important;
    color: #222427 !important;
    border: 1px solid #d9d9d9 !important; 
    border-radius: 5px !important;
    background: #fff !important;
}

.emoji-mart button{
    background-color: transparent !important;
}
.emoji-mart-search input {
    font-size: 16px !important;
    display: block !important;
    width: 100% !important;
    padding: 5px 25px 6px 10px !important;
    border-radius: 5px !important;
    border: 1px solid #d9d9d9 !important;
    outline: 0 !important;
    height: 32px !important;
    box-sizing: border-box !important;
}
.emoji-mart-search input:focus{
    box-shadow: none !important;
}