*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth
}

body {
  margin: 0;
  font-family: 'Poppins', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
 
  min-height: 100vh
}
#root{
  /* ; */
  min-height: 100vh
}



/*
 *  STYLE 8
 */

 #style-8::-webkit-scrollbar-track
 {
   border: 1px solid black;
   background-color: #F5F5F5;
 }
 
 #style-8::-webkit-scrollbar
 {
   width: 10px;
   background-color: #F5F5F5;
 }
 
 #style-8::-webkit-scrollbar-thumb
 {
   background-color: #1c1b1b;	
 }