*{
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Poppins', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  height: 100%;
}
#root{
  /* min-height: 100vh; */
height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
