.landing_app{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content:center;
    height: 60px;
    /* padding-right: 10px; */
    
}
.lan{
    min-width: 200px !important;
    height: 200px !important;
    border-radius: 10px;
    transform: translateY(-52px);
    
}
.lan>li:hover{
    background-color: white !important;
    
}
.fa-sign-out-alt:hover{
    color: rgb(14, 161, 152)
}
.landing_app .btn{
    padding: 0px !important;
    
}
.btn{

    background-color: rgba(240, 238, 238, 0.466);
    color: black; 
    line-height: normal;
}

.btn-nav{
    color:white;
    padding:0.4em 0.4em;
    border-radius: 5px;
    /* border:1px solid white; */
    /* letter-spacing: 0.5px */
    
}
.btn-nav:hover{
    color:rgb(112, 112, 112);
    border:1px solid gray;
    background: white;
}

.account{
    border-radius: 10px;
        font-size: 15px;
        padding: 5px 10px;
       display: flex;
       align-items: center;
        /* margin: 10px; */
        background-color: white;
        /* font-family: Arial, Helvetica, sans-serif; */
        outline: none;
        border: 0.5px solid  #e5e2e2;
        cursor: pointer;
        height: 30px;
        padding-bottom: 6px;
}
.account:hover{
    background-color:rgb(14, 161, 152); 
    color: white;
}

.notif{
    width: 400px !important;
    height: auto !important;
}
/* @media screen and (min-width: 900px) {
    .landing_app a{
    font-size: 1.01vw;
}}
@media screen and (min-width: 550px) and (max-width: 900px) {
    .landing_app a{
    font-size: 1.5vw;
}}
@media screen and (max-width: 550px) {
    .landing_app a{
    font-size: 1.8vw;
}} */

#style-3::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color:rgb(65, 65, 65);
}

.chatmodal{
    position: fixed;
    right: 0px;
    top: 100px;
    height: 500px;
    transition:  linear 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 999;
    box-shadow: -7px -7px 20px 0px rgba(24, 32, 111, 0.8)
}
.discumodal{
    position: fixed;
    left: 0;
    right: 0;
    /* width: 300px; */
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 75%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    box-shadow: 0px 8px 20px 0px rgba(36, 36, 37, 0.8);
    z-index: 9999999;
    top:12%;
    
}
/* .chatlist{
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    display: flex;
    flex-direction: column-reverse;
} */
.tap{
    width:40px;
    height:40px;
    color:rgb(51, 51, 51);
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(36, 36, 37, 0.8);
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;

border: 1px solid rgb(156, 155, 155);
}
.tap i{
    margin-left: 3px;
    margin-bottom: 4px;
    font-size: 17px;
}