.landing_app{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content:center;
    height: 60px;
    /* padding-right: 10px; */
    
}
.lan{
    width: 200px !important;
    height: 200px !important;
    border-radius: 10px;
    transform: translateY(-52px);
    
}
.lan>li:hover{
    background-color: white !important;
    
}
.fa-sign-out-alt:hover{
    color: rgb(14, 161, 152)
}
.landing_app .btn{
    padding: 0px !important;
    
}
.btn{

    background-color: rgba(240, 238, 238, 0.466);
    color: black; 
    line-height: normal;
}
.account{
    border-radius: 10px;
        font-size: 15px;
        padding: 5px 10px;
       display: flex;
       align-items: center;
        /* margin: 10px; */
        background-color: white;
        /* font-family: Arial, Helvetica, sans-serif; */
        outline: none;
        border: 0.5px solid  #e5e2e2;
        cursor: pointer;
        height: 30px;
        padding-bottom: 6px;
}
.account:hover{
    background-color:rgb(14, 161, 152); 
    color: white;
}

.notif{
    width: 400px !important;
    height: auto !important;
}
/* @media screen and (min-width: 900px) {
    .landing_app a{
    font-size: 1.01vw;
}}
@media screen and (min-width: 550px) and (max-width: 900px) {
    .landing_app a{
    font-size: 1.5vw;
}}
@media screen and (max-width: 550px) {
    .landing_app a{
    font-size: 1.8vw;
}} */

#style-3::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color:rgb(65, 65, 65);
}