.search_map {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
    
  }
  .search_map input{
      background: white;
      padding-left: 8px;
      border:1px solid #9e9e9e
     
  }
  .locate_map{
    
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none !important;
        border: none;
        z-index: 10;
        padding: 0px;
      
  }
  .locate_map img {
    width: 40px;
    cursor: pointer;
    background: transparent;
  }
  .googlemap >div{
    width :100% !important
  }