.test{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.div2{
    display:flex;
    justify-content: space-around;
    width: 85%;
    margin:0px !important;
   padding: 0px !important;
    align-items: center;
   
    /* flex :1; */
    font-family: "Fontfabric\ - Mont Heavy"
    }
    .div3{
        color: white; 
        height: 30px;
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: flex-start;
      /* font-size: 20px; */
      border-radius: 10px;
      }
      .div4{
        width: 35%;
        position: relative;
        
        
      }
      #btn{
        background-color: transparent;
        outline: none;
        border: none;
        width: 50px;
        height: 50px;
        
        
        }
      
        .landing{
            width: 15%;
            height: 100%;
            padding: 0px !important;
        }
        .inp{
            width: 100%;
            height: 50px;
            outline: none;
            border: none;
            border-radius: 10px;
            /* font-size: 20px; */
            padding-left: 10px;
        }
        .div2 button{
          padding: 0px !important;
          width: 70%;

        } 
        .dash{
          padding: 0px !important;
          width: 90%
        }
        @media screen and (min-width: 900px) {
          .div3 button,a{
            font-size: 1.01vw !important;
      }
      .inp{
        font-size: 1.5vw !important;
      }
    }
      @media screen and (min-width: 550px) and (max-width: 900px) {
        .div3 button,a{
          font-size: 1.5vw !important;
      }
    }
      @media screen and (max-width: 550px) {
        .div3 button,a{
          font-size: 1.8vw !important;
      }
      .inp{
        font-size: 3vw !important;
      }
    }