.organizer_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.organizer_nav > div{
    font-size:15px;
    /* color : black; */
    padding: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    /* width: 100%; */
}
.organizer_nav label{
    font-size: 14px;
    color: black;
    padding-left: 8px;
}
.organizer_nav i{
    cursor: pointer;
  
}
.organizer_nav i:active{
    color: cadetblue;
}
.organizer_nav_part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.organizer_nav_part > div{
    font-size:15px;
    /* color : black; */
    padding: 10px 0px 10px 10px;
    display: flex;
    align-items: center;
    /* width: 100%; */
}
.organizer_nav_part label{
    font-size: 14px;
    color: black;
    padding-left: 8px;
}
.organizer_nav_part i{
    cursor: pointer;
  
}
.organizer_nav_part i:active{
    color: cadetblue;
}
.organizer_hi{
    /* border:  1px solid gray; */
    height: fit-content;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    /* margin: 10px; */
}

#toast-container{
    right:20px;
    left:auto
}
/* .card_event{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
} */

    .date {
      position: absolute;
      top: 18px;
      right: 18px;
      z-index: 1;
      background: red;
      width: 55px;
      height: 55px;
      padding: 12.5px 0;
      border-radius: 100%;
      color: white;
      font-weight: 700;
      text-align: center;
      line-height: 17px;
    }
      .day {
        font-size: 16px;
        transform: translateY(-3px);
      }
      .month {
        font-size: 12px;
        text-transform: uppercase;
        transform: translateY(-2px)
      }
      .tag_slide_home{
        position: absolute;
        overflow-wrap: break-word;
        top: 230px;
        right: 10px;
        z-index: 1;
        /* background: #ffab40; */
        max-width: 110px;
        /* height: 30px !important; */
        /* padding: 12.5px 0; */
        border-radius: 10%;
        color: black;
        /* font-weight: 700; */
        text-align: center;
        line-height: 25px;
        margin: 0 !important;
        font-size: 12px;
        
        
      }
      .tag_slide_home p{
       margin: 0px;
       padding: 0px;
        
      }
      .tag_slide_home > .slides li{
       display: flex !important;
       align-items: center !important;
       justify-content: center !important;
       background: white !important;
         
       }
       .tag_slide_home > .slides li.active{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        background: white !important;
          
        }
    
   .card-reveal .btn-floating{
margin:5px;
background-color: #ffab40;
   }
 .organizer_add{
     margin-top: 20px;
     background-color: white;
 }

/* @media screen and (min-width: 550px) and (max-width: 900px) {
    .organizer_nav label{
        font-size: 1.8vw;
    }       
}
@media screen and (max-width: 550px) {
    .organizer_nav label{
        font-size: 2.2vw;
        
    }
    form button{
        font-size: 3vw !important;
        padding: 0px !important ;
    }
    
    
}
@media screen and (max-width: 600px) {
    .welcome{
        display:none
        
    }
    
    
}*/
@media screen and (max-width: 992px) {
.organizer_nav{
    display: flex;
flex-direction: column;
align-items: flex-end; 

}
.organizer_nav label{
    display:none
}
} 
@media screen and (max-width: 1000px) {
    .organizer_nav_part{
        display: flex;
    flex-direction: column;
    align-items: flex-end; 
    
    }
    .organizer_nav_part label{
        display:none
    }
    } 