@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500&family=Roboto:ital,wght@0,100;0,400;1,500&display=swap');

.organizer_hi{
/* position: fixed; */
  margin-top:   10px;
  height:   fit-content;
  width:  100% !important;
 display: table-cell;
 vertical-align: middle;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(24, 32, 111, 0.2);
-moz-box-shadow: 0px 8px 20px 0px rgba(24, 32, 111, 0.2);
box-shadow: 0px 8px 20px 0px rgba(24, 32, 111, 0.2);
padding: 26px;
position: relative;
z-index: 99;
   
    /* box-shadow: 1px 1px 4px rgba(0,0,0,0.5); */
  /* margin:   25px auto 50px !important;
  margin-right:50 !important;

  height:   300px;
  position: relative;
  width:  100% !important;
    background-color:rgba(32, 30, 30, 0.2);
   background-position: center center;
   background-size: cover; 
   -webkit-box-shadow: 0px 8px 20px 0px rgba(24, 32, 111, 0.2);
-moz-box-shadow: 0px 8px 20px 0px rgba(24, 32, 111, 0.2);
box-shadow: 0px 8px 20px 0px rgba(24, 32, 111, 0.2);
padding: 26px;
position: relative;
z-index: 99; */

}

 .profile-picture {
  position: absolute;
    /* background-position: center center; */
    background-size: cover;
   border: 5px #efefef solid; 
    border-radius: 5%;
    /* bottom: -50px; */
     box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
    height: 150px;
    left: 160px;
    position: absolute;
    width: 350px;
    z-index: 3; 
      margin-left:-10px; 
     margin-top: -80px;
    /*background-position: top center;
    background-size: cover;
    position: absolute;
    width: 300px;
  height: 100%;
  bottom: 0;
  top: 0;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 40px 50px 5px rgba(36, 36, 113, 0.49);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center; */

 
  
  }
  .h5-tit{
    font-family: 'David Libre', serif !important;
    color:  hsl(0, 6%, 24%); 

    text-align: center;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 5px;
  /* margin-bottom: 70px; */
  /* padding: 30px 70px 0px 70px; */
  text-transform: uppercase;
padding-top: 60px;

}
  .blue-title {
    color: hsl(180, 66%, 49%);
    /* opacity: 0.5; */
    font-weight: 300 !important;
    font-size:40px;
    background-color: #f4f4f4;
    border-radius: 5%;
line-height: 40px;
position: absolute;
z-index: 10;
top: 15px;
left: 45px;
/* margin-bottom: 10px; */
  }
  .para-blue{
    font-family: 'David Libre', serif !important;
    /* margin-bottom: 40px !important; */
    text-align: center;
    color: black; 
  font-weight: 400;
  line-height: 1.6;
  padding: 0px 57px 30px 57px;
  font-size: 20px;
  }
  .title-h {
    font-family: 'David Libre', serif !important;

    font-weight: 700;
    font-size: 4.5rem;
    color: hsl(255, 11%, 22%);
  }
  .title-p {
    font-family: 'David Libre', serif !important;

    font-weight: 500;
    color: hsl(257, 7%, 63%);
    font-size: 1.3rem;
  }
  .title-btn {
    font-family: 'David Libre', serif !important;

    background-color: hsl(180, 66%, 49%);
    transition: opacity 0.2s;
    border-style: none;
    padding: 12px 35px;
    border-radius: 40px;
    font-weight: 500;
    color: white;
    font-size: 1.3rem;
    margin-top: 5%;
  }
  .title-btn:hover {
    opacity: 0.5;
  }
  .title-btn:focus {
    outline: none;
  }
  .working-img {
    width: 100%;
    /* position: absolute; */
    left: 6.25rem;
    top: -4.375rem;
    padding-left: 40px;
  }
  .div--11{
    margin: 100px 0 100px 100px ;
    
  }
  